canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url('assets/background/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }